.auth-page {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-form {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 35px 30px;
  border-radius: 16px;
 box-shadow: 0 0 20px 0 rgba(249, 143, 143, 0.5);

}

.auth-form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #6d2932;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth-form label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.auth-form input {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

.auth-form input:focus {
  border-color: #6d2932;
  box-shadow: 0 0 0 3px rgba(244, 89, 138, 0.2);
}

/* Button */
.common-btn {
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background: var(--btn-bg);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.common-btn:hover:not(:disabled) {
  background: var(--btn-bg-hover);
}

.common-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.auth-form p {
  margin-top: 14px;
  font-size: 14px;
  text-align: center;
  color: #555;
}

.auth-form a {
  color: #6d2932;
  font-weight: 900;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .auth-form {
    padding: 25px 20px;
  }

  .auth-form h2 {
    font-size: 24px;
  }
}
