.course-description {
  max-width: 1000px;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.course-description p {
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
}

.course-description .common-btn {
  margin-top: 12px;
  width: 50%;
}

.course-description p:last-of-type {
  font-weight: 600;
  color: #6d2932;
}

.course-header {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 10px;
}

.course-header .course-image {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.course-header .course-info h2 {
  font-size: 26px;
  color: #6d2932;
  margin-bottom: 8px;
}

.course-header .course-info p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .course-header {
    flex-direction: column;
    text-align: center;
     gap: 10px;
  }

  .course-header .course-image {
    width: 100%;
    height: 150px;
  }

  .course-description {
    padding: 20px 15px;
    margin: 20px 15px 60px 15px;
  }
}
