.profile {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 100px auto;
}

.profile-info {
  text-align: left;
  margin-top: 15px;
}

.profile-info p {
  margin-bottom: 10px;
  color: #333;
}

.profile-info p strong {
  color: #6d2932;
}

.profile-info button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .profile {
    padding: 20px;
    width: 90%;
  }
}